
/*
@include clearfix();
@include sassy-button("simple", 10px, 19px, #1547ac);
@include breakpoint($mobileSmall) {
    background: url('../img/background-325.jpg');
  }
*/

html {
  // font-size: em(15px);
  font-family: "AdriaGroteskRegular";
}

#container {

}

.content {
  @include background-grid($color: rgba(125,125,125,0.5));
  max-width:1300px;
  margin:auto;
  position:relative;
  display:none;
}

.pollSlider{
  position:fixed;
  height:100%;
  background:red;
  width:200px;
  right:0px;
  margin-right: -200px;
}
#pollSlider-button{
  position:fixed;
  width:100px;
  height:50px;
  right:0px;
  background:green;
  top:300px;
}




