
/*
@include clearfix();
@include sassy-button("simple", 10px, 19px, #1547ac);
@include breakpoint($mobileSmall) {
    background: url('../img/background-325.jpg');
  }
*/

html {
  // font-size: em(15px);
  font-family: "GothamMedium";
}

section {
  width:100%;
  max-width:1280px;
  //border:1px solid black;
  position:relative;
  overflow:hidden;
  margin:0 auto;
}

//link-colors($normal, $hover, $active, $visited, $focus)
a {
  @include link-colors(#fff, #ccc, #fff, #fff, #fff);
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}

a {
  color: #ffffff;
  @include transition(color .3s ease);
  &:hover {
    color: #fefefe;
  }
}
