
//Memo
@import "memo";

//Breakpoint
@import "breakpoint";

//Breakpoint Slicer
@import 'breakpoint-slicer';

//Singularity
@import "singularitygs";

//Sassy Buttons
@import "sassy-buttons";

//Susy
@import "susy";


$breakpoint-default-feature:max-width;

// SINGULARITY SETUP

@include sgs-change('debug', true);
@include sgs-change('mobile first', false);
@include sgs-change('direction', 'ltr');
@include sgs-change('output', 'isolation');

@include add-grid(1 3 5 7 9);
@include add-grid(2 8 2 at 1100px);
@include add-grid(12 at 900px);
@include add-grid(6 at 700px);
@include add-grid(3 at 500px);

// @include add-gutter-style('fixed' at 700px);
@include add-gutter(1/8);
@include add-gutter(.25 at 1024px);



* {
  @include box-sizing('border-box');
  // @include clearfix;
}


$slicer-breakpoints: 0 400px 600px 800px 1024px 1280PX;
$amount-of-slices:   length($slicer-breakpoints);
$slicer-breakpoint-names:       'xs'        's'         'm'         'l'         'xl'      'xxl' ;
$slicer-anti-overlap-corrections: 1px, -0.1em, -0.1rem;
$breakpoint-no-query-wrappers:  false;
$breakpoint-to-ems: true;

$mobileSmall: 0px 320px;
$mobileBig: 320px 600px;
$mobileAll: 0px 800px;
$tabletSmall:600px 800px;
$tabletBig:800px 1024px;
$biggerScreens: 1024px;

// Menu change break point
$menuChange:0px 1050px;

/* convert pixels to ems - defaults to 15px base */
@function em($px, $base: 15px) {
  @return ($px / $base) * 1em;
}


@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @-ms-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

