
//Memo
@import "memo";

//Breakpoint
@import "breakpoint";

//Breakpoint Slicer
@import 'breakpoint-slicer';

//Singularity
@import "singularitygs";

//Sassy Buttons
@import "sassy-buttons";

//Susy
@import "susy";






@include sgs-change('debug', true);
@include sgs-change('mobile first', true);
@include sgs-change('direction', 'ltr');
@include sgs-change('output', 'isolation');

* {
  @include box-sizing('border-box');
  // @include clearfix;
}


$slicer-breakpoints: 0 400px 600px 800px 1050px 1300px;
$amount-of-slices:   length($slicer-breakpoints);
$slicer-breakpoint-names:       'xs'        's'         'm'         'l'         'xl'        'xx';
$slicer-anti-overlap-corrections: 1px, -0.1em, -0.1rem;
$breakpoint-no-query-wrappers:  false;


@include add-grid(8);
@include add-grid(8 at 400px);
@include add-grid(10 at 600px);
@include add-grid(14 at 800px);
@include add-grid(14 at 1050px);

$mobileSmall: 0px 320px;
$mobileBig: 320px 600px;
$mobileAll: 0px 800px;
$tabletSmall:600px 800px;
$tabletBig:800px 1050px;
$biggerScreens: 1050px;
$bigScreens: 1300px;
$ultraBigScreens: 2000px;

// Menu change break point
$menuChange:0px 1050px;


@include add-gutter(1/8);
@include add-gutter(.25 at 1024px);
// @include add-gutter-style('fixed' at 700px);


/* convert pixels to ems - defaults to 15px base */
@function em($px, $base: 15px) {
  @return ($px / $base) * 1em;
}

//link-colors($normal, $hover, $active, $visited, $focus)
a {
  @include link-colors(#fff, #ccc, #fff, #fff, #fff);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

// SPRITE GENERATOR
$pngicons-spacing: 10px;
$pngicons-sprite-dimensions: true;
$pngicons-layout: 'smart';
@import "../img/pngicons/*.png";
@include all-pngicons-sprites;



