
//Memo
@import "memo";

//Breakpoint
@import "breakpoint";

//Breakpoint Slicer
@import 'breakpoint-slicer';

//Singularity
@import "singularitygs";

//Sassy Buttons
@import "sassy-buttons";

//Susy
@import "susy";


$breakpoint-default-feature:min-width;

// SINGULARITY SETUP

@include sgs-change('debug', true);
@include sgs-change('mobile first', false);
@include sgs-change('direction', 'ltr');
@include sgs-change('output', 'isolation');

@include add-grid(1 3 5 7 9);
@include add-grid(2 8 2 at 1100px);
@include add-grid(12 at 900px);
@include add-grid(6 at 700px);
@include add-grid(3 at 500px);

// @include add-gutter-style('fixed' at 700px);
@include add-gutter(1/8);
@include add-gutter(.25 at 1024px);



* {
  @include box-sizing('border-box');
  // @include clearfix;
}


$slicer-breakpoints: 0px 480px 800px 1024px 1280px;
$amount-of-slices:   length($slicer-breakpoints);
$slicer-breakpoint-names:       'xs'        's'         'm'         'l'         'xl'   ;
$slicer-anti-overlap-corrections: 1px, -0.1em, -0.1rem;
$breakpoint-no-query-wrappers:  false;
$breakpoint-to-ems: true;

$mobile2: 0px 480px;
$mobile4: 480px 800px;
$mobile6: 0px 600px;
$mobile6up: 600px;
$mobileAll:0px 800px;
$tablet: 800px 1024px;
$tabletAll:800px 1280px;
$screen1: 1024px 1280px;
$screen2:1280px;
$screenAll:1024px;
$noMobile:800px;

/* convert pixels to ems - defaults to 15px base */
@function em($px, $base: 15px) {
  @return ($px / $base) * 1em;
}


